.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }

.mat-header-row {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: inherit;
}
.mat-table {
    overflow: auto;
    max-height: 500px;
  }

  .footer {
     position: fixed;
     bottom: 0;
     margin-left: 0px;
    text-align: center;
  }
