<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" >
    
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef > phone </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.phone}} </mat-cell>    
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> email </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="company">
      <mat-header-cell *matHeaderCellDef > company </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.company}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date_entry">
      <mat-header-cell *matHeaderCellDef > date_entry</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.date_entry}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="org_num">
      <mat-header-cell *matHeaderCellDef > org_num </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.org_num}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="address_1">
      <mat-header-cell *matHeaderCellDef > address_1 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.address_1}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef > city </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.city}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="zip">
      <mat-header-cell *matHeaderCellDef > zip </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.zip}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="geo">
      <mat-header-cell *matHeaderCellDef > geo </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.geo}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="pan">
      <mat-header-cell *matHeaderCellDef > pan </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.pan}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="pin">
      <mat-header-cell *matHeaderCellDef > pin </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.pin}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef > id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef > status </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fee">
      <mat-header-cell *matHeaderCellDef > fee </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.fee}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="guid">
      <mat-header-cell *matHeaderCellDef > guid </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.guid}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date_exit">
      <mat-header-cell *matHeaderCellDef > date_exit </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.date_exit}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date_first">
      <mat-header-cell *matHeaderCellDef > date_first </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.date_first}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date_recent">
      <mat-header-cell *matHeaderCellDef > date_recent </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.date_recent}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="url">
      <mat-header-cell *matHeaderCellDef > url </mat-header-cell>
      <mat-cell *matCellDef="let element"></mat-cell>
    </ng-container>

    <ng-container matColumnDef="submit" >
      <mat-header-cell *matHeaderCellDef > Submit </mat-header-cell>
      <mat-cell *matCellDef="let element"> <button mat-raised-button color="primary" (click)="selectRow(element.id,element.status)">Submit</button> </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" class ="rows"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="items"></mat-row>
  </mat-table>

  <!-- Angular 8 pagination -->
  <div class="footer">
  <mat-paginator [pageSizeOptions]="[5, 10, 15,50]" showFirstLastButtons ></mat-paginator>
  </div>
</div>
